<div class="content-menu">
  <div class="content-menu_options">
    <nav class="nav">
      <a href="#">Menu</a>
      <a href="#">Inicio</a>
      <a href="https://elidagrealtor.com" target="_blank">Propiedades</a>
      <a href="#about-me">Sobre mi</a>
      <span class="pointer" (click)="goTo()">Contacto</span>
    </nav>
  </div>
  
  <div class="content-menu_img">
    <img class="content-menu_bg" src="/assets/menu/bg-menu.jpeg" alt="">
  </div>
  
  <div class="content-menu-key">
    <img class="content-menu-key_img" src="/assets/menu/llave-menu2.png" alt="">
    <p class="content-menu-key_elida-name">ELIDA HOMES</p>
    <div class="content-menu-key_wpp"></div>
  </div>
</div>