<div class="teen-section">
  <div class="teen-section_bg">
    <div class="content-image">
      <img src="/assets/teen/escacez-ultima.jpeg" alt="">
    </div>
    <div class="content-image time">
      <!-- <img src="/assets/teen/time.jpg" alt=""> -->
      <div class="info-time">
        <div class="title">
          <h2>¿Sabes cuando es el momento para Comprar?</h2>
          <app-gold-line></app-gold-line>
        </div>
        <div class="info-txt">
          <p>
            ¡Cuando te atreves a soñar!
          </p>
          <p>
            Cuando te quitas los miedos y das el primer paso, cuando dejas de pagar renta y pagarle la hipoteca a otro.
          </p>
          <br>
          <p>
            ¡Atrévete a pagar tu propia hipoteca!
          </p>
          <p>
            Hay tantos diferentes prestamos que pudieras calificar. 
          </p>
        </div>
        <div class="content-btn">
          <h2>¡NO DEJES DE PASAR UN MES MÁS!</h2>
          <div class="contact-div">
            <app-green-btn [contact]="'¡CONTACTAME!'"></app-green-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>