<div class="fourth-section" id="about-me">
  <div class="content-text">
    <div class="content-name">
      <h2>
        ELIDA GONZALEZ
      </h2>
      <app-gold-line></app-gold-line>
    </div>
    <p>
      TU AGENTE DE BIENES RAÍCES EN FLORIDA CENTRAL. CON MÁS DE 10 AÑOS DE EXPERIENCIA. PUEDO AYUDARTE A ENCONTRAR TU PERFECTO HOGAR. <br><br>
      
      SOY ESPECIALISTA EN COMPRA Y VENTA DE PROPIEDADES. RESIDENCIA PRIMARIA (COMPRA Y VENTA) RESIDENCIA SECUNDARIA ( INVERSIONES) CASAS VACACIONALES ( INVERSIONES) NUEVAS CONSTRUCIONES SERVICIO DE RELOCALIZACIÓN. <br><br>
      
      BRINDO A MIS CLIENTES UN EXCELENTE SERVICIO. <br><br>
      
      ME ESFUERZO POR ASEGURAR QUE MIS CLIENTES RECIBAN LA MEJOR ATENCIÓN , DEDICACIÓN Y CUIDADO.
    </p>
    <div class="gold-decorator">
      <app-gold-line></app-gold-line>
    </div>

  </div>
  <div class="fourth-section_bg">
    <img class="fourth-section_bg_img" src="/assets/fourthSection/5-INFO.jpeg">
  </div>
</div>