<div class="veinteavo">
  <div class="content-txt">
    <div class="container">
      <div class="content-txt_elida">
        <img src="/assets/menu/llave-menu.png" alt="">
        <p>ELIDA HOMES</p>
      </div>
      <div class="container-socials">
        <div class="socials-fb" (click)="goTo('https://www.facebook.com/ElidaGonzalez.Realtor/')"></div>
        <div class="socials-ig" (click)="goTo('https://instagram.com/elidahomes?igshid=YmMyMTA2M2Y=')"></div>
        <div class="socials-in"></div>
      </div>
      <div>
        <app-green-btn [contact]="'¡CONTACTAME!'"></app-green-btn>
      </div>
    </div>
  </div>
</div>