<div class="eighthSection">
  <div class="eighthSection_bg">
    <img class="eighthSection_bg_img" src="/assets/eightSection/elida-11-01.jpg">
  </div>
  <div class="eighthSection-info">
    <div class="content-txt">
      <p>
        ASESORAMIENTO <br> EN REAL STATE
      </p>
    </div>
    <p class="ino-txt">
      LO QUE DEBES CONOCER A LA HORA DE COMPRAR O VENDER UNA PROPIEDAD
    </p>
    <app-green-btn [contact]="'IR AL BLOG'"></app-green-btn>
    <p class="ino-txt">
      O SI LO PREFIERES
    </p>
    <app-green-btn [contact]="'HABLA CONMIGO'"></app-green-btn>
  </div>
</div>