<div class="sixty-section">
  <!-- <div class="sixty-section-bg">
    <img src="/assets/sixtySection/bg-img.png" class="sixty-section-bg_img">
  </div> -->
  <div class="sixty-section_content-info">
    <div class="sixty-section_content-info_title">
      <h2> ¿CUÁL ES TU OBJETIVO? </h2>
      <app-gold-line></app-gold-line>
    </div>
    <div class="sixty-section_content-info_card">
      <div class="card">
        <p>
          Tener un Objetivo nos hace buscar.
        </p>
        <br>
        <p>
          Empieza a buscar el objetivo de obtener tu Hogar ideal para que cada día lo puedas disfrutar.
        </p>
        <br>
        <p>Dime qué casa deseas, estoy aquí para ayudarte a encontrarla.</p>
      </div>
      <div class="container-btn">
        <app-green-btn [contact]="'CONTACTAME'"></app-green-btn>
      </div>
    </div>
  </div>
</div>