<app-bg-menu></app-bg-menu>
<app-gold-line></app-gold-line>
<app-second-section></app-second-section>
<app-gold-line></app-gold-line>
<app-third-section></app-third-section>
<app-gold-line></app-gold-line>
<app-fourth-section></app-fourth-section>
<app-fifty-section></app-fifty-section>
<app-gold-line></app-gold-line>
<app-sixty-section></app-sixty-section>
<app-gold-line></app-gold-line>
<app-seventh-section></app-seventh-section>
<app-gold-line></app-gold-line>
<app-eighth-section></app-eighth-section>
<app-gold-line></app-gold-line>
<app-nineth-section></app-nineth-section>
<app-gold-line></app-gold-line>
<app-teen-section></app-teen-section>
<app-gold-line></app-gold-line>
<app-eleventh-section></app-eleventh-section>
<app-gold-line></app-gold-line>
<app-twelfth-section></app-twelfth-section>
<app-gold-line></app-gold-line>
<app-fourfth-section></app-fourfth-section>
<app-gold-line></app-gold-line>
<app-quinceavo></app-quinceavo>
<app-gold-line></app-gold-line>
<app-dieciseisavo></app-dieciseisavo>
<app-gold-line></app-gold-line>
<app-diecisieteavo></app-diecisieteavo>
<app-gold-line></app-gold-line>
<app-dieciochoavo></app-dieciochoavo>
<app-gold-line></app-gold-line>
<app-diecinueveavo></app-diecinueveavo>
<app-gold-line></app-gold-line>
<app-veinteavo></app-veinteavo>
<app-gold-line></app-gold-line>
<app-veintidosavo></app-veintidosavo>
