<div class="veintiunavo">
  <div class="container-txt">
    <div class="container">
      <div class="content-txt_txt">
        <p class="congrats-txt">¡FELICIDADES!</p>
        <p class="won-text">
          <span class="you-won">¡HAS GANADO!</span><br>
          <span class="download-txt">
            DESCARGA TU EBOOK GRATUITO ESCANEANDO ESTE CÓDIGO QR
          </span>
        </p>
      </div>
      <div class="qr-content">
        <div class="qrCompradores">
          <div class="qrCompradoresImg"></div>
          <p>Para Compradores</p>
        </div>
        <div class="qrVendedores">
          <div class="qrVendedoresImg"></div>
          <p>Para Vendedores</p>
        </div>
      </div>
    </div>


  </div>
</div>