<div class="content-footer">
  <div class="content-logo">
    <div class="leon"></div>
    <p>
      In this jungle, there is only one <span>KING</span>
    </p>
  </div>
  <div class="content-add">
    <p class="present"> <i>The service presented on this website is supported and guaranteed by:</i></p>
    <p class="obelix-txt">OBELIX <span class="solut-txt">SOLUTIONS</span></p>
    <div class="content-btn">
      <a href="https://www.obelixmarketing.com" target="_blank">
        <button class="btn">WWW.OBELIXMARKETING.COM</button>
      </a>
    </div>
  </div>
  <div class="content-medal"></div>
  <div class="content-house"></div>
</div>