<div class="diecisieteavo">
  <div class="content-text">
    <div class="content-text_key">
      <p>¡LA LLAVE DEL EXITO!</p>
    </div>
    <div class="content-text_contact">
      <p>
        ESTA EN <br>
        <span>ELIDA HOMES</span>
      </p>
      <div>
        <div>
          <img class="pointer" src="https://elida.my.canva.site/videos/2228a6d7773f74958d9be6582e28875a.gif" alt="">
        </div>
        <app-green-btn [contact]="'CONTACTAME'"></app-green-btn>
      </div>
    </div>
  </div>
</div>