<div class="dieciochoavo">
  <div class="content-txt">
    <div class="top-txt">
      <img 
        class="img-pointer"
        src="https://elida.my.canva.site/videos/d9e1643b55f5dcbe90174de76ba19876.gif"  
      >
      <p>
        AL ALCANCE DE TU MANO
      </p>
    </div>
    <div class="bottom-txt">
     
      <p>
        LAS LLAVES DE UNA NUEVA PROPIEDAD
        SON UN GIRO AL EXITO EN TU VIDA.
      </p>
      <div class="content-btn">
        <app-green-btn [contact]="'VER PROPIEDADES'"></app-green-btn>
      </div>
    </div>
  </div>
</div>