<div class="seventhSection">
  <div class="seventhSection_bg">
    <div class="download-msg">
      <p>DESCARGA LA GUIA IDEAL PARA TI</p>
    </div>
    <div class="container-btn">
      <div class="container_btn_btn">
        <app-green-btn [contact]="'COMPRADORES'"></app-green-btn>
      </div>
      <div class="container_btn_btn">
        <app-green-btn [contact]="'VENDEDORES'"></app-green-btn>
      </div>
    </div>
    <div class="container-triangle">
      <img class="container-triangle_img" src="/assets/seventhSection/triangle.svg" alt="">
      <p class="text">Puedo darte un excelente asesoramiento, ya sea que quieras comprar o vender una propiedad</p>
    </div>
  </div>
</div>